Package: com.8507.domainblocker
Name: DomainBlocker
Version: 1.0.1
Architecture: iphoneos-arm64
Description: 域名屏蔽器 - 三指长按屏蔽指定域名
Maintainer: lrx8507
Author: lrx8507
Section: Tweaks
Depends: firmware (>= 15.0)
